#right_part {
    width:49%;
    float:left;
  
   
}
#left_part {
   
    float:right;
    width:49%;
    
}
.radioDiv{
    margin-top: 10px;
    margin-left: 10px;
}
* {
    box-sizing: border-box;
  }
  
  .square-container {
    padding: 8px;
  }
  
  .square {
    width: calc(100% / 3);
    float: left;
    position: relative;
    padding-bottom: calc(100% / 3);
  }
  
  .square .content {
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      margin: 8px;
      padding: 16px;
      position: absolute;
      color: rgb(8, 0, 0);
      background-color: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  }